<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiment Consent</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- custom styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    <style>
        .consent-wrapper-class {
            max-width: 600px;
            margin: auto;
            padding: 20px;
        }

        .consent-header {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div  class="container consent-wrapper-class">
        <h1 class="consent-header">Consent Form</h1>

        <p>Welcome to this experiment. Pending your consent below, you will participate in a short study on human reasoning in a simple computer game.</p>

        <p>By playing the game and answering some follow up questions, you are participating in a study being performed by cognitive scientists in the MIT Department of Brain and Cognitive Sciences. If you have questions about this research, please contact Matthias Hofer at mhofer@mit.edu.</p>
            
        <p>Your participation in this research is voluntary. You may decline to answer any or all of the following questions. You may decline further participation, at any time, without adverse consequences. Your anonymity is assured; the researchers who have requested your participation will not receive any personal identifying inforrmation about you.</p>

        <p>If you agree to participate in this study, please click the "I Agree" button below.</p>
        
        <!-- Agreement Button -->
        <form action="{{ url_for('render_page', page_name='instructions') }}?{{ query_string }}">
            <button type="submit" class="btn btn-primary">I Agree</button>
        </form>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>