<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiment Consent</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- custom styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div  class="container contents-main-wrapper">
        <h3 class="contents-main-header">We need your consent to proceed</h3>

        <p>You have been invited to take part in a research study on human reasoning involving a simple logic game.</p>

        <div style="padding: 35px; background-color: #f8f9fa; border-radius: 5px;">
            <p>
            By completing this study, you are participating in a study being performed by cognitive scientists in the MIT Department of Brain and Cognitive Science. The purpose of this research is to understand how people reason and solve problems. 
            <p>
            </p>
            You must be at least 18 years old to participate. There are neither specific benefits nor anticipated risks associated with participation in this study. Your participation in this study is completely voluntary and you can withdraw at any time by simply exiting the study. You may decline to answer any or all of the following questions. Choosing not to participate or withdrawing will result in no penalty. Your anonymity is assured; the researchers who have requested your participation will not receive any personal information about you, and any information you provide will not be shared in association with any personally identifying information.
            </p>

            </p>
            If you have questions about this research, please contact the researchers by sending an email to cheyette@mit.edu. These researchers will do their best to communicate with you in a timely, professional, and courteous manner. If you have questions regarding your rights as a research subject, or if problems arise which you do not feel you can discuss with the researchers, please contact the MIT Institutional Review Board.
            <p>
            
            <p>Your participation in this research is voluntary. You may discontinue participation at any time during the research activity. You may print a copy of this consent form for your records.
            </p>

            <div style="text-align: center;">
                <button type="button" class="btn btn-primary mt-3" id="agreeButton" submit-url="{{ url_for('render_page', page_name='instructions') }}?{{ query_string }}">I Agree</button>
            </div>

        </div>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
        document.getElementById('agreeButton').addEventListener('click', function() {
            var targetUrl = this.getAttribute('submit-url');
            window.location.href = targetUrl;
        });
    </script>
    
</body>
</html>