<!DOCTYPE html>
<html>
<head>
    <title>Minesweeper Game</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="game-wrapper">
        <div class="game-container">
            <table>
                {% for row in range(game_state|length) %}
                    <tr>
                        {% for col in range(game_state[row]|length) %}
                        <td id="cell-{{ row }}-{{ col }}" 
                            onclick="cellLeftClicked({{ row }}, {{ col }})" 
                            oncontextmenu="cellRightClicked(event, {{ row }}, {{ col }})">
                            {{ game_state[row][col] if game_state[row][col] >= 0 else '*' }}
                        </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>  
        <div class="game-controls">
            <form action="/" method="post">
                <table>
                    <tr>
                        <td>Length:</td>
                        <td><input type="number" name="length" value="{{ game.length }}"></td>
                    </tr>
                    <tr>
                        <td>Width:</td>
                        <td><input type="number" name="width" value="{{ game.width }}"></td>
                    </tr>
                    <tr>
                        <td>Mines:</td>
                        <td><input type="number" name="mines" value="{{ game.num_mines }}"></td>
                    </tr>
                </table>
                <button type="submit">New Game</button>
            </form>
        </div>
    </div>
    <!-- Hidden element to store the initial game state -->
    <script type="application/json" id="initialState">
        {{ game_state|tojson }}
    </script>

    <!-- Link to the external JavaScript file -->
    <script src="{{ url_for('static', filename='js/game.js') }}"></script>
</body>
</html>